
            <!-- footer starts here-->
            <footer id="footer">
                <div class="container">
                    <div class="row">             

                        <div class="col-xs-12 col-sm-offset-1 col-sm-3">
                            <ul align=center>Перехід на
                                <li><a ui-sref="app"><span class="fa fa-home"></span> Головну сторінку</a></li>
                            </ul>

                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <ul align=center> Для клієнтів
                                <li><a ui-sref="app.apartments"><span class="fa fa-search"></span> Пошук квартир</a></li> 
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <ul align=center>Для ріелторів
                                <li><a href="#"><span class="fa fa-user-circle-o"></span> Авторизація</a></li>
                                <li><a ui-sref="app.clients"><span class="fa fa-vcard-o"></span> Пошук клієнтів</a></li> 
                            </ul>                 
                        </div>

                        <div class="col-xs-12">
                            <p align=center>© Copyright 2016 Online Rieltor</p>
                        </div>
                    </div>
                </div>
            </footer>

        <!-- footer ends here-->
