<div id="main">
    <div id="wrap">
       
        <div class="container">
            <div class="mainPage">
                <div class="mainPicture">
                    <div class="greatingWords">
                        <p>Ласкаво просимо!</p>
                        <p>Ви на головній сторінці сайту</p>
                        <p><big>Онлайн Ріелтор</big>
                        </p>
                    </div>
                    <img src="../images/mainPageImage.jpg" alt="">
                </div>
                <div class="intro">
                    <h3>Як користуватися сайтом?</h3>
                    <p>Система Онлайн Ріелтор дуже легка, практична та інтуїтивно зрозуміла для користувача, та все ж ми додаємо декілька коротких настанов для початківців. Бажаємо успіху! </p>
                </div>

                <div class="instructions">
                    <h3>Якщо ви клієнт:</h3>   
                    <ul>  
                        <li class="instruction">
                            <p>Авторизуйтесь, натиснувши кнопку "Авторизація".</p>
                        </li> 
                        <li class="instruction">
                            <p>У випадку, якщо Ви ще незареєстрований користувач, то натисніть кнопку "Авторизація > Реєстрація" та заповніть коротку анкету клієнта.</p>
                        </li>
                        <li class="instruction">
                            <p>Після успішної авторизації Ви маєте змогу переглянути квартири, натиснувши кпопку "Переглянути квартири", а також здійснювати пошук(сортування) за певними критеріями(ціна, район т.д.).</p>
                        </li>
                        <li class="instruction">
                            <p>Ви також можете Помітити квартири, які Вам сподобались, натиснувши кнопку "Подобається".</p>
                        </li>
                    </ul>

                    <h3>Якщо ви ріелтор:</h3>
                    <ul> 
                        <li class="instruction">
                            <p>Авторизуйтеся в систему, натиснувши кнопку "Авторизація".</p>
                        </li>
                        <li class="instruction">
                            <p>Після успішної авторизації Ви маєте змогу переглянути квартири, натиснувши кпопку "Переглянути квартири", здійснювати пошук(сортування) за певними критеріями(ціна, район т.д.).</p>
                        </li>
                        <li class="instruction">
                            <p>Ви також зможете редагувати дані про квартиру, натиснувши кнопку "Редагувати"</p>
                        </li>
                        <li class="instruction">
                            <p>Ви маєте змогу переглянути бази Ваших кліентів, натиснувши кнопку "Клієнться база", здійснювати там пошук(сортування) за певими критеріями(прізвище, ім'я, т.д.).</p>
                        </li>
                        <li class="instruction">
                            <p>Ви також зможете редагувати дані про Ваших клієнтів, натиснувши кнопку "Клієнтська база > Редагувати".</p>
                        </li>
                    </ul>

                </div>
            </div>                    
        </div>
    </div>
</div>    